Source: cangaroo
Section: devel
Priority: optional
Maintainer: Miriam Ruiz <miriam@debian.org>
Build-Depends: debhelper (>= 9),
               qt6-base-dev | qtbase5-dev,
               qt6-base-dev-tools | qtbase5-dev-tools,
               qmake6 | qt5-qmake,
               pkg-config,
               libqt6charts6-dev | libqt5charts5-dev,
               qt6-serialport-dev | libqt5serialport5-dev,
               libnl-3-dev,
               libnl-route-3-dev
Standards-Version: 4.6.1.1
Homepage: https://cangaroo.org/

Package: cangaroo
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt-based CAN Bus Analyzer
 cangaroo is a open source CAN Bus Analyzer based on Qt5 and C++.
 It allows for monitoring multiple SocketCAN interfaces, load DBC files,
 analyze the CAN Traffic in different views and much more.
 It is licensed under GPLv2. See README.md file for more information.
